body {
    margin: 0;
    padding: auto;
    height: 98vh;
    min-height: max-content;
    text-align: center;
    border: 1vh solid rgb(1, 74, 1);
    background-size:cover;
    background-repeat:no-repeat;
}

h1 {
    text-decoration: underline;
    text-shadow: 2px 2px aliceblue;
}

form {
    padding: 20px;
    margin: 20px auto;
    width: max-content;
    display: flex;
    font-size: 16pt;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 16px;
    border: 2px solid rgb(1, 74, 1);
}

label {
    text-shadow: 1px 1px aliceblue;
    margin: 5px auto;
    padding: auto;
}

input {
    margin: 5px auto 30px;
    padding: auto;
    width: 60px;
    font-size: 12pt;
    border-radius: 16pt;
}

input:first-of-type {
    width: 9ch;
}

button, .button{
    width: 17ch;
    font-size: 12pt;
    margin: 5px auto;
    padding: auto;
    background-color: aliceblue;
    border-radius: 16px;
    border: 2px solid green;
}

button:hover {
    text-decoration: underline;
}

p {
    width: 430px;
    margin: 20px auto;
    font-size: 16pt;
    border-radius: 16px;
    color: rgb(1, 74, 1);
    background-color: aliceblue;
}

p:nth-of-type(2) {
    margin-bottom: 25vh;
}

footer {
    height: max-content;
    margin-top: 55vh;
    text-align:center;
    margin: auto;
}

nav {
    padding: 10px;
}

a {
    font-weight: bold;
    color: rgb(1, 74, 1);
    text-decoration: none;
    font-size: 16pt;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
    background-color: lightgreen;
}

@media (max-width: 1000px) {
    body {
        min-height: 98.1vh;
        height: max-content;
        background-position: 55%;
    }

    form {
        background-color: transparent;
        border: none;
        padding: 10px;
        width: auto;
    }

    label {
        padding: 3px 5px;
        border-radius: 16px;
        background-color: rgba(239, 247, 255, .5);
    }

    p {
        width: 90%;
    }

    footer {
        position:sticky;
        bottom: 0px;
    }
}

